* {
  font-family: Segoe UI , Tahoma , Geneva , Verdana , sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
}

table {
  background-color: rgba(21, 21, 21, 255);
  border: 2px solid black;
  border-radius: 10px;
  margin: 50px;
  text-align: center;
}

tbody {
  background-color: rgb(26, 27, 27);
  color: #a1a1a1;
}

.td-border, th {
  border-radius: 5px;
  padding: 5px;
}

th {
  background-color: #ffe81f;
  color: rgba(21, 21, 21, 255);
}

label {
  color: #ffe81f;
  display: flex;
  flex-direction: column;
  font-size: 20px;
  width: 18%;
  min-width: 120px;
}

label input, select {
  background-color: #f2f9f7;
  border-radius: 10px;
  font-size: 18px;
  height: 30px;
  padding: 3px 5px;
}

select {
  height: 40px;
}

tr {
  height: 60px;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: space-evenly;
}

img {
  margin: 0 auto;
  width: 50%;
}

.column-filter, .column-order {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 40%;
  flex-wrap: wrap;
}

.column-filter {
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.radio-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 20%;
  min-width: 160px;
}

.radio {
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  margin: 0 auto;
}

.radio input {
  margin-right: 15px;
}

button {
  background-color: #ffe81f;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 700;
  padding: 15px 20px;
}

.number {
  width: 40%;
}

span {
  color: #ffe81f;
}

hr {
  width: 80%;
  border: 1px solid #ffe91f2d;
}

.first-filter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 40%;
  flex-wrap: wrap;
}

#input-name {
  width: 70%;
  margin-bottom: 20px;
}

.column-filter label:nth-child(1), .column-filter label:nth-child(2) {
  width: 35%;
}